
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}



input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input,
textarea,
select,
button {
  font: inherit;
}


html,
:has(:target) {
  scroll-behavior: smooth;
}


a:where([class]) {
  display: inline-flex;
}


button,
label {
  cursor: pointer;
}


:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}


:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}


svg * {
  transition-property: fill, stroke;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

